* {
    color: steelblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {

    background-color: grey;
    padding: 1%;
    align-items: center;

}

.sign-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    height: 95vh;
    
}

.background-image {
    max-width: 500px;
    position: relative;
    align-items: center;
    flex: 1;
}

img {
    display: flex;
    width: 100%;
    min-width: 300px;
    height: 100%;

}



.logo-background {
    width: 100%;
    min-height: 200px;
    flex: 1;
    position: absolute;
    top: 10rem;
    background-color: grey;
    flex: 1;
    opacity: 0.6;
}

.logo {
    width: 100%;
    position: absolute;
    top: 10rem;
    max-height: 200px;
    color: white;
    opacity: 0.6;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    background-color: white;
    padding: 30px;
    justify-content: space-around;
    flex: 1;
}

h2 {
    padding: 30px;
    margin: 0;
}

fieldset {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 10 10 5 10;
    
}

fieldset>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 40%;
}


input {
    min-width: 150px;
    min-height: 20px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1.25rem;
}

input:optional {
    border-color: grey;
}

input:valid {
    border: 3px solid green;
}

input:focus {
    border: 5px solid steelblue;
}



.form-entry {
    padding: 10px;
}

.submit {
    padding: 5px;
    margin: 30px;
    max-width: 150px;
    border-radius: 5px;
    font-size: 1.25rem;

}

.container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-message {
    color: red;
}

.error {
    border-color: red;
}

/* To remove arrows/spinner from number field*/
/* Chrome, Safari, etc */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}