* {
    color: steelblue;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: grey;
    align-items: center;

}

.sign-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    height: 100vh;
    
}

.background-image {
    max-width: 500px;
    position: relative;
    align-items: center;
    flex: 1;
}

img {
    display: flex;
    width: 100%;
    min-width: 300px;
    height: 100%;

}

/*.logo-background {  *removed as transparent svg does the job*
    width: 100%;
    min-height: 250px;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: grey;
    flex: 1;
    opacity: 0.6;
}*/

.logo {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-height: 250px;
    color: white;
    opacity: 0.6;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    background-color: white;
    justify-content: center;
    flex: 1;
    background-color: rgb(175, 224, 255);
}

h2 {
    padding: 30px;
    margin: 0;
}

.container-inputs {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px lightgrey;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.container-inputs>div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    width: 40%;
    align-items: center;
}




input {
    min-width: 150px;
    max-width: 300px;
    min-height: 20px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1.25rem;
}

input:optional {
    border-color: grey;
}

input:valid {
    border: 3px solid green;
}

input:focus {
    border: 5px solid steelblue;
}



.form-entry {
    padding: 10px;
}

.submit {
    margin-top: 30px;
    padding: 5px;
    max-width: 150px;
    border-radius: 5px;
    font-size: 1.25rem;

}

.container-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
}

.error-message {
    color: red;
}

.error {
    border-color: red;
}

/* To remove arrows/spinner from number field*/
/* Chrome, Safari, etc */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}